.container{
    height: 34rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-around;
    border: solid black 2px;
    border-radius: 10px;
}
.img{
    height: 17rem;
    width: 17rem;
    border-radius: 10px;
}
.nombre{
    font-size: 1.5rem;
    background-color: none;
    width: 100%;
    background-color: rgb(97, 97, 117);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.nombreCont{
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: rgb(97, 97, 117);
    height: 3rem;
    border-radius: 5px;

}
.button button{
    border:none;
    width: 4rem;
    height: 4rem;
    font-size: 3rem; 
    cursor: pointer;
}